* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background: #1e3a8a;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* register Section */
.register-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.register-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #1e3a8a;
  text-align: center;
}

.register-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.register-form button {
  background: #1e3a8a;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.register-form button:hover {
  background: #16307a;
}

.register-form .sign-in {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #1e3a8a;
  text-decoration: none;
}

.register-form .sign-link {
  text-decoration: none;
}

.register-form .sign-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 20px;
}
